@use 'variables';

@mixin heading-font {
    font-family: variables.$font;   
}


@mixin flex-center($direction: row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-style($size: 16px, $weight: normal) {
    font-family: variables.$font;
    font-size: $size;
    font-weight: $weight;
}