@use 'variables';

$headings: (
    h1: 80px,
    h2: 60px,
    h3: 40px,
    h4: 20px,
    h5: 10px,
    h6: 5px
);

.title {
    font-family: variables.$font_special;
    font-size: 150px;
    color: white;
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        text-shadow: 4px 4px 10px variables.$color_main;
        letter-spacing: 3px;
        transition: all 0.3s ease 0s;   
    }
    
    &.mol:hover{
        text-shadow: 4px 4px 10px variables.$color_font;
        letter-spacing: 3px;
        transition: all 0.3s ease 0s;   
    }
}

/* Schriftgroesse für h1 bis h4 */
@each $heading, $size in $headings {
    .#{$heading}-dark {
        color: variables.$color_font;
        font-size: $size;
        margin: 10px;
    }
    .#{$heading}-light {
        color: variables.$color_font2;
        font-size: $size;
        margin: 10px;
    }
}

p{
    padding: 20px;
    font-size: 1.2rem;

    &.centered{
        text-align: center;
    }
}

q{
    font-size: 22px;
}