@use 'variables';

$headings: (
    h1: 80px,
    h2: 60px,
    h3: 40px,
    h4: 20px
);

// @for $i from 1 through 4 {
//     .h#{$i}-dark {
//         color: variables.$color_font;
//         font-size: 2em - ($i * 0.2);
//     }

//     .h#{$i}-light {
//         color: variables.$color_font2;
//         font-size: 2em - ($i * 0.2);
//     }
// }

#title {
    font-family: variables.$font_special;
    font-size: 80px;
}

/* Schriftgroesse für h1 bis h4 */
@each $heading, $size in $headings {
    #{$heading} {
        font-size: $size;
    }
}

p {
    font-size: 1.2rem; /* Schriftgröße für p */
}