@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

$font_special: "Creepster";
$font: "Cinzel Decorative";


$color_main:  #0D0D0D;
$color_font: #D90404;
$color_font2: #DFD6D6;
$color_sub: #730217;

