@use 'variables';
@use 'typo';
@use 'mixins' as m;

@keyframes growShrink {
    0% {
      width: 20%; /* Anfangsbreite */
    }
    50% {
      width: 80%; /* Maximale Breite */
    }
    100% {
      width: 20%; /* Zurück zur Anfangsbreite */
    }
}

HTML {
    color: variables.$color_font2;
    // font-family: variables.$font;
    
    scroll-behavior: smooth;

    BODY {
        @include m.flex-center();

        background-image: linear-gradient(
            to top, black 40%, variables.$color_sub 100%
        );

        DIV {
            
            @include m.center;
            
            width: 100%;
            height: 100%;
            padding: 15px;
            margin-bottom: 25px;

            &.container {
                @include m.flex-center(column);

                width: 100%;
            
                p{
                    color: variables.$color_font2;

                    // font-size: 2em;
                } 
            }
            
            #header {
                @include m.flex-center(column);

                height: 100vh;
                margin-top: 5px;
            }
        
            .combined {
                display: flex;
                flex-direction: column;
                
                DIV:nth-child(2n + 1){
                    margin-bottom: 0;
                }
            }
        
            #hDiv, .buttonDiv{
                display: flex;
                flex-direction: column;
        
                BUTTON, A{
                    height: 40px;
                    width: 180px;
                    margin-bottom: 10px;

                    border: none;
                    border-radius: 15px;

                    // font-family: variables.$font;
                    // font-size: 20px;
                    
                    cursor: pointer;
        
                    &:nth-child(2n) {
                        background: variables.$color_font2;
                        color: variables.$color_main;

                        transition: font-weight, transform ease 0.5s;
                        &:hover {
                            background-color: darken($color: variables.$color_font2, $amount: 10%);
                            font-weight: bold;
                            
                            transform: scale(1.2);
                        }
                    }
        
                    &:nth-child(2n + 1) {
                        background: variables.$color_sub;
                        color: variables.$color_font2;

                        transition: font-weight, transform ease 0.5s;
        
                        &:hover {
                            background-color: lighten($color: variables.$color_sub, $amount: 10%);
                            font-weight: bold;

                            transform: scale(1.2);
                        }
                    }
                }
        
                A {
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    text-decoration: none;
                }
            }
        
            #buttonsDiv, #hDiv, #inputDiv {
                margin-bottom: 100px;
            }

            input {
                padding: 10px;
                margin: 10px 0;

                border-radius: 5px;
                border: 3px solid variables.$color_main ;
            
                &:focus {
                    outline: none;
                    border: 3px solid variables.$color_font;
                }
            
                &#example {
                    width: 50%;
                }
            
                &#answer {
                    width: 100%;
                }
            }

            #horror-table{
                width: 80%;

                border-collapse: collapse;

                // font-size: 20px;
                // text-align: center;
            
                margin-bottom: 300px;
            
                tr {
                    &:hover {
                        background-color: lighten($color: variables.$color_main, $amount: 10%);
                    }
                }
            
                td.red {       
                    color: variables.$color_font;
                    // font-size: 25px;
                    // font-weight: bold;
                }

                TH, TD {
                    border: white 1px solid;
                    padding: 20px;
                }
            
            }

            .radio-form {
                @include m.flex-center(column);

                #options {
                    margin-bottom: 0;
                    gap: 10px;

                    display: block;

                    input[type="radio"] {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;


                        border-radius: 50%;
                        border: 5px solid variables.$color_font2;

                        position: relative;
                        vertical-align: middle;
                        appearance: none;
                        
                        cursor: pointer;
                    
                        &:checked {
                            background-color: variables.$color_main;
                        }
                    
                        &:focus {
                            outline: none;
                            box-shadow: 0 0 0 3px rgba(variables.$color_main, 0.5);
                        }
                    
                        &:before {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;

                            background-color: variables.$color_font;
                            
                            display: block;
                            position: absolute;

                            transform: translate(-50%, -50%) scale(0);
                            transition: transform 0.2s ease-in-out;

                            content: '';
                        }
                    
                        &:checked:before {
                            transform: translate(-50%, -50%) scale(1);
                        }
                    }
                }

                LABEL {
                    margin-left: 0;

                    cursor: pointer;
                }
            }

            .image-gallery {
                gap: 20px;
                padding: 20px;

                display: flex;
                justify-content: space-between;
            
                .image-item {
                    text-align: center;
                    width: 30%;
            
                    img {
                        width: 100%; 
                        height: 300px;

                        border-radius: 10px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                        transition: transform 0.3s ease;

                        object-fit: cover;
                    }
            
                    figcaption {
                        margin-top: 10px;
                    }
            
                    &:hover img {
                        transform: scale(1.05);
                        
                        cursor: pointer;
                    }
                    &:hover figcaption {
                        font-weight: bold;
                        text-decoration: underline;
                        color: variables.$color_sub;
                    }
                }
            }

            #qouteLine{
                width: 80%;
                
                border-color: variables.$color_font;
                
                animation: growShrink 8s infinite ease-in-out; 
            }
        }
    }
}
